.flightSelection {
	height: 100%;
	ul {
		padding: 0;
		list-style: none;
		overflow-y: scroll;
		height: 100%;
		li {
			cursor: pointer;
			padding: 15px 40px 15px 20px;
			border-top: 1px solid #dce0e0;
			&:first-child {
				border-top: 0;
			}
			&.active {
				background-color: #F4F7F9;
			}
			.flight-row {
				display: flex;
				justify-content: space-around;
				.flight-logo {
					margin-right: 15px;
					width: 50px;
					height: 40px;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
				.flight-price {
					color: $colorBrand;
				}
			}
		}
	}
}