div.flightSelection
    ul
        li(ng-repeat="roundtripFlight in roundtripFlights" ng-click="viewFlight(roundtripFlight)")
            flight-details(roundtrip-flight="selectedRoundtripFlight" total-price="selectedRoundtripFlight.totalPrice")