div.flightSelection
    ul
        li.round-trip-flight-item(ng-repeat="roundtripFlight in roundtripFlights" ng-click="viewFlight(roundtripFlight)")
            div  Round Trip Flight{{ roundtripFlight }}
            br
flight-details(roundtrip-flight="selectedRoundtripFlight")