div.lodge-details
    .image-effect(style="background-image: url({{lodge.imageUrl}})")
    .meta-section
        div.lodge-image(style="background-image: url({{lodge.imageUrl}})")
        .lodge-status
            h4 {{ lodge.title }}
            p Mountain View, CA
            span.rating
                .star-rating
                  .foreground
                    i.airicon.airicon-beach.airicon-star
                    i.airicon.airicon-beach.airicon-star
                    i.airicon.airicon-beach.airicon-star
                    i.airicon.airicon-beach.airicon-star
                    i.airicon.airicon-beach.airicon-star-half
                  .background
                    i.airicon.airicon-star.airicon-light-gray
                    i.airicon.airicon-star.airicon-light-gray
                    i.airicon.airicon-star.airicon-light-gray
                    i.airicon.airicon-star.airicon-light-gray
                    i.airicon.airicon-star.airicon-light-gray
    .depth-section
        h4 About this listing
        p {{ lodge.description }}