div.ng-flight-details
    .flight-row
        .flight-logo(style="background-image: url(./assets/images/emirates-logo.png)")
        .flight-outbound
            .time {{ roundtripFlight.outboundFlight.startTime }} - {{ roundtripFlight.outboundFlight.endTime }}
            .location {{ roundtripFlight.outboundFlight.startLocation }}
        .flight-inbound
        .flight-duration
        .flight-price ${{ roundtripFlight.outboundFlight.price }}
        .book-flight

