.emirates-logo.hide
map(position='37.621313,-122.378955', zoom='2')
  custom-marker.marker-wrap(position='37.621313,-122.378955')
    #marker-holder
        .dot
        .pulse
  custom-marker.marker-wrap(position='25.276987,55.296249')
    #marker-holder
        .dot
        .pulse