//- div.modalContent
//- 	p Some information about the Trip
div#myModal Test
	span.icon-close(ng-click="close()")
	div.col-md-7
		flight-details
	div.col-md-5
		div {{  chosenTrip.location }}
		lodge-selector(lodges="chosenTrip.lodges")