//- div.modalContent
//- 	p Some information about the Trip
div#myModal.clearfix
	span.icon-close(ng-click="close()")
	div.col-md-7
		flight-details
	div.lodge-details-right.col-md-5
		lodge-selector(lodges="chosenTrip.lodges")