$modalPlatformColor: black;

.trip-detail-modal {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

div#myModal {

	.icon-close {
		position: absolute;
		right: 5px;
		top: 5px;
		&:hover {
			cursor: pointer;
		}
	}

}