div#myModal
	.golden-flex
		.flex-left
			map-view
		.flex-right
			span.icon-close(ng-click="close()")
			lodge-selector(ng-show="view2" lodges="chosenTrip.lodges")
			flight-details(ng-show="view1" flights = "chosenTrip.roundtripFlight")
	.result-bar
		button(ng-click="previousView()") Back
		button(ng-click="nextView()") Next
