.golden-flex {
	display: flex;
	height: 90%;
    .flex-left {
        flex: 5;
        height: 100%;
    }
    .flex-right {
        flex: 3;
        height: 100%;
    }
}

.result-bar {
	height: 10%;
	background-color: lightgray;
	
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		width: 100px;
	}
}

.trip-detail-modal {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transform:translate(0);
	opacity: 1;
	transition: .4s opacity ease-in-out;
	&.ng-hide {
		transform:translate(9999px);
		opacity: 0;
		display: block !important;
	}
}

div#myModal {
    height: 100%;
	.icon-close {
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 1;
		&:hover {
			cursor: pointer;
		}
	}

}