//- div.modalContent
//- 	p Some information about the Trip
div#myModal Test
	span.icon-close(ng-click="close()")
	div {{ chosenTrip.location }}
	div {{ chosenTrip.totalPrice }}
	div {{ chosenTrip.description }}