@keyframes pulse {
 0% {
	-webkit-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-webkit-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-webkit-transform: scale(0.1);
	opacity: 0.3;
 }
 75% {
	-webkit-transform: scale(0.5);
	opacity: 0.5;
 }
 100% {
	-webkit-transform: scale(1);
	opacity: 0.0;
 }
}

.emirates-logo {
    background-image: url("../assets/images/header-logo@2x.png");
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    width: 91px;
    height: 127px;
    background-size: 91px 127px;
    z-index: 9;
.flex-left {
    flex: 5;
    height: 100%;
}
.flex-right {
    flex: 3;
    height: 100%;
}

.golden-flex {
	display: flex;
	height: 90%;
}

.result-bar {
	height: 10%;
	background-color: lightgray;
	display: flex;
	button {
		width: 100px;
	}
}

.trip-detail-modal {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transform:translate(0);
	opacity: 1;
	transition: .4s opacity ease-in-out;
	&.ng-hide {
		transform:translate(9999px);
		opacity: 0;
		display: block !important;
	}
}

div#myModal {
    height: 100%;
	.icon-close {
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 1;
		&:hover {
			cursor: pointer;
		}
	}

}

.location-marker {
	width: 13px;
	height: 13px;
	background-color: darken($colorBrand, 10%);
	border-radius: 100%;
}


#marker-holder {
	position: relative;
	width: 13px;
	height: 13px;

}
.pulse {
	width: 10px;
	height: 10px;
	border: 5px solid darken($colorBrand, 10%);
	border-radius: 30px;
	background-color: darken($colorBrand, 10%);
	z-index: 10;
	position: absolute;
}
// .dot {
// 	border: 10px solid lighten($colorBrand, 5%);
// 	background: transparent;
// 	border-radius: 60px;
// 	height: 50px;
// 	width: 50px;
// 	animation: pulse 3s ease-out;
// 	animation-iteration-count: infinite;
// 	position: absolute;
// 	top: -5px;
// 	left: -5px;
// 	z-index: 1;
// 	opacity: 0;
// }
