#trips
    .container
        .row
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/dubai.jpg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/france.jpg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/tahoe.jpeg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/dubai.jpg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/tahoe.jpeg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/france.jpg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/tahoe.jpeg');")
            .col-md-3
                .trip-card
                    .trip-cover(style="background-image: url('/assets/images/france.jpg');")
