@keyframes FadeIn { 
  0% { opacity:0; -webkit-transform:scale(.1);}
  85% {opacity:1; -webkit-transform:scale(1.05);}
  100% {-webkit-transform:scale(1); }
}

main.trips-wrap {
	position: relative;
}

#trips {
    height: (100vh - $hero-shrink-val);
    display: flex;
    justify-content: center;
    align-items: center;

	.trip-card {
		background-color: #140F12;
		border-radius: 4px;
		border: 1px solid #D8D8D8;
		overflow: hidden;
		cursor: pointer;
		margin-bottom: 34px;
		transition: border-color 0.2s linear;
		height: 151px;
		display: flex;
		align-items: center;
		.trip-cover {
			height: 100%;
			background-size: cover;
			background-position: center;
			opacity: 0.69;
			position: absolute;
			width: 100%;
			transition: .4s opacity ease-in-out;
			&:hover {
				opacity: .89;
			}
		}
		.trip-location {
			margin: auto;
			color: #fff;
			position: relative;
		}
	}
}

.open {
	#trips .ng-scope .trip-card { 
		-webkit-animation: FadeIn .4s linear; 
		-webkit-animation-delay: .4s; 
		-webkit-animation-fill-mode:both; 
	}
	#trips .ng-scope:nth-child(1) .trip-card{ -webkit-animation-delay: .1s }
	#trips .ng-scope:nth-child(2) .trip-card{ -webkit-animation-delay: .15s }
	#trips .ng-scope:nth-child(3) .trip-card{ -webkit-animation-delay: .2s }
	#trips .ng-scope:nth-child(4) .trip-card{ -webkit-animation-delay: .25s }
	#trips .ng-scope:nth-child(5) .trip-card{ -webkit-animation-delay: .3s }
	#trips .ng-scope:nth-child(6) .trip-card{ -webkit-animation-delay: .35s }
	#trips .ng-scope:nth-child(7) .trip-card{ -webkit-animation-delay: .4s }
	#trips .ng-scope:nth-child(8) .trip-card{ -webkit-animation-delay: .45s }
	#trips .ng-scope:nth-child(9) .trip-card{ -webkit-animation-delay: .5s }
	#trips .ng-scope:nth-child(10) .trip-card{ -webkit-animation-delay: .55s }
	#trips .ng-scope:nth-child(11) .trip-card{ -webkit-animation-delay: .6s }
	#trips .ng-scope:nth-child(12) .trip-card{ -webkit-animation-delay: .65s }
}